bitarray==3.0.0
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
pdfreader==0.1.15
pillow==11.0.0
pycryptodome==3.21.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
urllib3==2.3.0
